//styles.scss
$orange : #ff6f19;

<<<<<<< HEAD
@font-face {
  font-family: codeC;
  src: url(html5_values.ttf);
}
.footer-credits p {
  font-family: codeC, Helvetica Neue, Helvetica;
  font-size: 24px;
}
=======
>>>>>>> c0c210b872b90954c56cbf0b15644ef177e2bce2
// .image-bg {
  .btn.btn-filled {
    background: #ff6f19!important;
    border-color: #ff6f19!important;
    &:hover {
      background-color: #ff6f19!important;
      border-color: #ff6f19!important;
    }
  }
// }

.top-parallax-section {
  div {
    h1 {
      font-size:48px;
    }
  }
  .mb32 {
    p {
      font-size: 20px;
    }
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  section .pb0 {
    padding-bottom: 66px!important;
    padding-top:56px;
    .masonry {
      .masonry-item {
        margin-bottom:30px;
      }
    }
  }
.mb32 {
    font-style: oblique;
  }
.module.widget-handle i {
  color: #ff6f19!important;
}
button[type="submit"] {
  background-color: #ff6f19!important;
  border: #ff6f19!important;
}
.main-navigation {
  .menu li {
    a {
      padding-right: 20px;
      padding-left: 20px;
      &:hover {
        color: #fff!important;
        background-color: #ff6f19;
        border-radius: 50px;
        transition: .5s;
      }
    }
  }
}
.inner-title {
  .title {
    h5 {
      font-size: 24px;
    }
    span {
      font-size:18px;
    }
  }
}

.banner {
	position: relative;
	z-index: 1;
	margin: 80px auto;
	width: 330px;
}

.banner .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 78px;
	transform: skew(0, -15deg);
}

.banner .line:after,
.banner .line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
	background: rgba(180,180,180,0.8);
	content: '';
	transform: skew(0, 15deg);
}

.banner .line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

.banner .line:first-child:before,
.banner .line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

.banner .line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

.banner span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(255,255,255,0.9);
	color: #666;
	text-shadow: 1px 1px 0 #444;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica;
}
.banner_container {
  background-color: #444;
  width: 100%;
  padding:20px;
  .banner {
    width: 25%;
  }
}
.block_trend__animation, .block_trend__organic, .block_trend__pageTransitions, .block_trend__serif, .block_trend__floatNav {
  background-color: #f5f5f5;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    text-align:center;
    font-family: "Oswald", "Helvetica Neue", helvetica;
    font-style: italic;
    margin:80px auto;
  }
  .trend {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
  }
  .trend_one, .trend_two, .trend_three, .trend_four, .trend_five {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .trend_two {
    justify-content: space-evenly;
    img {
      width: 20%;
      border-radius: 50px;
      box-shadow: 2px 2px 4px #f5f5f5;
      &:hover {
        transform: scale(1.1);
        transition:.25s;
      }
    }
  }
  .trend_three {
    justify-content: space-evenly;
    img {
      width: 40%;
    }
  }
  .trend_four {
    justify-content: space-evenly;
    img {
      width: 40%;
    }
  }
  .trend_five {
    justify-content: space-evenly;
    img {
      position:relative;
      top: -320px;
    }
  }
}

.big_container {
  width: 100%;
  padding-left: 0;
  padding-right:0;
}
section.content-area {
  padding-top:0;
  padding-bottom:0;
}

.trend_rank_importance {
  width: 60%;
  margin:80px auto;
  h3 {
    font-family: "Oswald", "Helvetica Neue", helvetica;
    font-style: italic;
    text-align:center;
    margin: 0 auto 15px auto;
    color:#fff;
  }
}
.slide_rank {
  font-size:14px;
  border-radius:16px;
  line-height:2;
  background-color:#fff;
  .slide_rank__inner {
    color: #fff;
    background-color:#ff6f19;
    text-align:center;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    padding-left: 16px;
    padding-right: 16px;
    border-radius:16px;
    &::before {
      content: "";
      display: table;
      clear: both;
    }
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
.trend_explanation {
  width: 30%;
  h3 {
    color: #999;
  }
}
.stage {
   display:flex; flex-direction:column; align-items:center;
}

#shapely_home_contact-2 {
  background-color: rgba(255,255,255,0.5);
  h1, p {
    color: black;
  }
  p {
    font-size:18px;
  }
  a {
    margin: 20px auto;
    color: #fff;
    padding:10px;
    background-color: #ff6f19;
    border-radius: 6px;
  }
  .mb0 {
    &:nth-child(5){
      display:none;
    }
  }
  .mb32 {
    margin-top:20px;
  }
}

input[type="submit"]{
  font-size:18px;
  border-radius:6px!important;
  &:hover {
    transform: scale(1.1) translateY(5px) translateX(12px);
    transition: .25s;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}
input[type="text"], input[type="email"], textarea{
  &:hover {
    border-color: #ff6f19!important;
  }
}

.masonryFlyIn {
  display:flex;
  flex-wrap:wrap;
}
.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ff6f19;
  display: none;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}
#hamburger-6.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

input.wpcf7-form-control.wpcf7-submit.btn.btn-lg.btn-filled {
  &:hover {
    background: $orange!important;
    border-color: $orange!important;
  }
}
textarea.wpcf7-form-control.wpcf7-textarea:hover, input.wpcf7-form-control.wpcf7-text:hover {
  border-color:$orange!important;
}
a.btn.btn-lg.btn-filled:hover {
  background: $orange!important;
  border-color: $orange!important;
}

@media only screen and (max-width: 991px){
  #menu {
    text-align:center;
    i {
      color: #ff6f19;
    }
  }
  .hamburger .line {
    display: block;
  }

  .main-navigation {
    .menu {
      .menu-item {
        text-align:center;
        a {
          font-size:24px;
          &:hover {
            color: #ff6f19;
          }
        }
      }
    }
  }
#socialLink {
  display:none;
}

}
