//styles.scss
.image-bg {
  .btn.btn-filled {
    background: #ff6f19;
    border-color: #ff6f19;
    &:hover {
      background-color: rgba(255,111,25, .6);
      border-color: #ff6f19;
    }
  }
}

.top-parallax-section {
  div {
    h1 {
      font-size:48px;
    }
  }
  .mb32 {
    p {
      font-size: 20px;
    }
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  section .pb0 {
    padding-bottom: 66px!important;
    padding-top:56px;
    .masonry {
      .masonry-item {
        margin-bottom:30px;
      }
    }
  }
.mb32 {
    font-style: oblique;
  }
.module.widget-handle i {
  color: #ff6f19;
}
button[type="submit"] {
  background-color: #ff6f19;
  border: #ff6f19;
}
.main-navigation {
  .menu li {
    a {
      padding-right: 20px;
      padding-left: 20px;
      &:hover {
        color: #fff;
        background-color: #ff6f19;
        border-radius: 50px;
        transition: .5s;
      }
    }
  }
}
.inner-title {
  .title {
    h5 {
      font-size: 24px;
    }
    span {
      font-size:18px;
    }
  }
}

.banner {
	position: relative;
	z-index: 1;
	margin: 80px auto;
	width: 330px;
}

.banner .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 78px;
	transform: skew(0, -15deg);
}

.banner .line:after,
.banner .line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
	background: rgba(180,180,180,0.8);
	content: '';
	transform: skew(0, 15deg);
}

.banner .line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

.banner .line:first-child:before,
.banner .line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

.banner .line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

.banner span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(255,255,255,0.9);
	color: #666;
	text-shadow: 1px 1px 0 #444;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica;
}
.banner_container {
  background-color: #444;
  width: 100%;
  padding:20px;
  .banner {
    width: 25%;
  }
}
.block_trend__animation, .block_trend__organic {
  background-color: #f5f5f5;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    text-align:center;
    font-family: "Oswald", "Helvetica Neue", helvetica;
    font-style: italic;
    margin:80px auto;
  }
  .trend {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
  }
  .trend_one, .trend_two {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .trend_two {
    justify-content: space-evenly;
    img {
      width: 20%;
      border-radius: 50px;
      box-shadow: 2px 2px 4px #f5f5f5;
    }
  }
}

.big_container {
  width: 100%;
  padding-left: 0;
  padding-right:0;
}
section.content-area {
  padding-top:0;
  padding-bottom:0;
}

.trend_rank_importance {
  width: 60%;
  margin:80px auto;


  h3 {
    font-family: "Oswald", "Helvetica Neue", helvetica;
    font-style: italic;
    text-align:center;
    margin: 0 auto 15px auto;
    color:#fff;
  }
}
.slide_rank {
  font-size:14px;
  border-radius:16px;
  line-height:2;
  background-color:#fff;
  .slide_rank__inner {
    color: #fff;
    background-color:#ff6f19;
    text-align:center;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    padding-left: 16px;
    padding-right: 16px;
    border-radius:16px;
    &::before {
      content: "";
      display: table;
      clear: both;
    }
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
.trend_explanation {
  width: 30%;
  h3 {
    color: #999;
  }
}
